<html>
<head>
	<!-- <link rel="stylesheet" href="style.css"/> -->
	<title>{{title}}</title>
	<link rel="stylesheet" href="/assets/styles/style.css"/>
    <script type="text/javascript" src="/assets/scripts/appScripts.js"></script>
</head>
<body>
	<h1>Hello World</h1>
	
	
</body>
</html>